<div>
  <form [formGroup]='skill'(ngSubmit)="onSaveClick()">

 <h3 style="text-align: center;">Skill</h3>
 <button type="button" class="btn btn-success"  (click)="addskill()" >Add Skill</button><div><br></div>
<div formArrayName="skill_details" ><div><br></div>
<div *ngFor="let item of skillarray.controls; let a=index;" [formGroupName]="a" >



<div class="row">
  <div class="col-sm-2 form-group div">
    <label>ID<span class="lblError">*</span></label>
    <input type="text" class="form-control" formControlName="id" placeholder="Enter catagory">
    <!-- <p class="lblError"*ngIf="item.get('skill').hasError('required') && !item.get('skill').pristine">skill is required</p>
    <p class="lblError" *ngIf=" item.get('skill').value!='' &&skillduplicate(item.get('skill').value, a) && a > 0">Duplicates not Allowed</p> -->
  </div>
  <div class="col-sm-2 form-group div">
  <label>Skill<span class="lblError">*</span></label>
  <input type="text" class="form-control" formControlName="skill" placeholder="Enter catagory">
  <p class="lblError"*ngIf="item.get('skill').hasError('required') && !item.get('skill').pristine">skill is required</p>
  <p class="lblError" *ngIf=" item.get('skill').value!='' &&skillduplicate(item.get('skill').value, a) && a > 0">Duplicates not Allowed</p>
</div>

<div class="col-sm-2 form-group div">
  <label>skill catagory<span class="lblError">*</span></label><br>
  <input type="text" class="form-control" formControlName="skillcatagory"  placeholder="skillcatogary">
  <p class="lblError"*ngIf="item.get('skillcatagory').hasError('required') && !item.get('skillcatagory').pristine ">catogary is required</p>
</div>

<div class="col-sm-2 form-group div">
  <label>skill level<span class="lblError">*</span></label>
  <input type="text" class="form-control"  formControlName="skilllevel" placeholder="skill level">
  <p class="lblError"*ngIf="item.get('skilllevel').hasError('required') && !item.get('skilllevel').pristine ">skill leve is required</p>
</div>

<div class="col-sm-2 form-group div">
  <label>iscurrent<span class="lblError">*</span></label><br>
  <input type="radio" formControlName="iscurrent"  value="yes"> Yes
  <input type="radio" formControlName="iscurrent"  value="no"> No<br>
  <p class="lblError"*ngIf="item.get('iscurrent').hasError('required') && !item.get('iscurrent').pristine ">is current required</p>
</div>
<div class="col-sm-2 form-group div">
  <label>experience<span class="lblError">*</span></label>
  <input type="text" class="form-control" formControlName="experience" placeholder="Enter experience">
  <p class="lblError"*ngIf="item.get('experience').hasError('required') && !item.get('experience').pristine ">experience is required</p>
</div>

</div>

<div>&nbsp;&nbsp;</div>
<div class="col-sm-2 form-group div">

&nbsp;&nbsp;&nbsp;&nbsp; <button type="button"class="btn btn-danger btn-sm pull"(click)="deleteskill(a)" >Delete</button>
 &nbsp;&nbsp;&nbsp;&nbsp;<button  (click)="mySkillReset()" class="btn btn-primary tn-sm pull">Edit</button>
<div>&nbsp;</div>
</div>

</div>
</div>
 <!-- </div> -->
<button type="submit">Save</button>
  </form>
</div>
