<div class="container">
  <div *ngIf="flag">
  <h2 style="text-align: center;">Basic Employee Details</h2>
  <table class="table">
    <thead>
      <th style="border: black 1px solid;text-align: center;">ID</th>
      <th  style="border: black 1px solid;text-align: center;">NAME</th>
      <th  style="border: black 1px solid;text-align: center;">PERSONAL PHONE</th>
      <th  style="border: black 1px solid;text-align: center;">PAN</th>
      <th style="border: black 1px solid;text-align: center;">AADHAR</th>
      <th style="border: black 1px solid;text-align: center;">ACCOUNT NO</th>
      <th style="border: black 1px solid;text-align: center;">IFSC</th>
      <th style="border: black 1px solid;text-align: center;"> EDIT ACTIONS</th>
      <th style="border: black 1px solid;text-align: center;"> DELETE ACTION</th>



    </thead>
    <tbody>
      <tr *ngFor="let item of reg_arr">
        <td  style="border: black 1px solid;text-align: center;">{{item.id}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.name}}</td>
         <td style="border: black 1px solid;text-align: center;">{{item.personal_phone}}</td>
         <td style="border: black 1px solid;text-align: center;">{{item.PAN}}</td>
         <td style="border: black 1px solid;text-align: center;">{{item.aadhar}}</td>
         <td style="border: black 1px solid;text-align: center;">{{item.acc_no}}</td>
         <td style="border: black 1px solid;text-align: center;">{{item.IFSC}}</td>
         <td style="border: black 1px solid;text-align: center;">
           <button (click)="oneditbasicclick(item)" class="btn btn-warning">Edit Basic Details</button>&nbsp;<br><br>
           <button (click)="oneditpermanentclick(item)" class="btn btn-warning">Edit permanent Address</button>&nbsp;<br><br>
           <button (click)="oneditpresentclick(item)" class="btn btn-warning">Edit present Address</button>&nbsp;<br><br>
           <button (click)="oneditqualificationclick(item)" class="btn btn-warning">Edit Qualification</button>&nbsp;<br><br>
           <button (click)="oneditexperienceclick(item)" class="btn btn-warning">Edit Experience</button>&nbsp;
           <button (click)="oneditskillclick(item)" class="btn btn-warning">Edit Skill</button>&nbsp;
         </td>
         <td style="border: black 1px solid;text-align: center;">
           <button (click)="ondeleteemp(item)" class="btn btn-danger">Delete Employee</button>&nbsp;
           <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
         </td>

        <td>
          <!-- <button (click)="ondeleteclick(item)" class="btn btn-danger">Delete</button>&nbsp;&nbsp;
          <button (click)="editclick(item)" class="btn btn-warning">Edit</button> -->
        </td>
      </tr>
    </tbody>

  </table><br><br>
  <button (click)="onshowclick()" class="btn btn-primary">Show Full Details</button><br>
  </div>
</div>
<div class="container">
  <div *ngIf="flag1">
  <h2>Employee Full Details</h2>
  <button (click)="onhideclick()" class="btn btn-primary">Hide Details</button><br><br>
  <table class="table">
    <thead>
      <th style="border: black 1px solid;text-align: center;">ID</th>
      <th style="border: black 1px solid;text-align: center;">NAME</th>
      <th style="border: black 1px solid;text-align: center;">TITLE</th>
      <th style="border: black 1px solid;text-align: center;">FIRST NAME</th>
      <th style="border: black 1px solid;text-align: center;">MIDDLE NAME</th>
      <th style="border: black 1px solid;text-align: center;">LAST NAME</th>
      <th style="border: black 1px solid;text-align: center;">GENDER</th>
      <th style="border: black 1px solid;text-align: center;">DATE OF BIRTH</th>
      <th style="border: black 1px solid;text-align: center;">AGE</th>
      <th style="border: black 1px solid;text-align: center;">OFFICIAL PHONE</th>
      <th style="border: black 1px solid;text-align: center;">PERSONAL PHONE</th>
      <th style="border: black 1px solid;text-align: center;">OFFICE EXTENSION</th>
      <th style="border: black 1px solid;text-align: center;">FAX</th>
      <th style="border: black 1px solid;text-align: center;">OFFICE MAIL</th>
      <th style="border: black 1px solid;text-align: center;">PERSONAL MAIL</th>
      <th style="border: black 1px solid;text-align: center;">PHOTO</th>
      <th style="border: black 1px solid;text-align: center;">BIRTH PLACE</th>
      <th style="border: black 1px solid;text-align: center;">RELEGION</th>
      <th style="border: black 1px solid;text-align: center;">CAST</th>
      <th style="border: black 1px solid;text-align: center;">NATIONALITY</th>
      <th style="border: black 1px solid;text-align: center;">VOTER ID</th>
      <th style="border: black 1px solid;text-align: center;">PAN</th>
      <th style="border: black 1px solid;text-align: center;">AADHAR</th>
      <th style="border: black 1px solid;text-align: center;">MARITAL STATUS</th>
      <th style="border: black 1px solid;text-align: center;">BANK NAME</th>
      <th style="border: black 1px solid;text-align: center;">ACCOUNT TYPE</th>
      <th style="border: black 1px solid;text-align: center;">PAYMENT TYPE</th>
      <th style="border: black 1px solid;text-align: center;">ACCOUNT NO</th>
      <th style="border: black 1px solid;text-align: center;">IFSC</th>



    </thead>
    <tbody>
      <tr *ngFor="let item of reg_arr">
        <td style="border: black 1px solid;text-align: center;">{{item.id}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.name}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.title}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.first_name}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.middle_name}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.last_name}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.user_gender}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.user_dob}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.age}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.official_phone}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.personal_phone}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.extn_ofc_phn}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.fax}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.ofc_mail}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.personal_email}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.photo}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.birth_place}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.relegion}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.cast}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.nationality}}</td>
         <td style="border: black 1px solid;text-align: center;">{{item.voter_id}}</td>
         <td style="border: black 1px solid;text-align: center;">{{item.PAN}}</td>
         <td style="border: black 1px solid;text-align: center;">{{item.aadhar}}</td>
         <td style="border: black 1px solid;text-align: center;">{{item.marital_status}}</td>
         <td style="border: black 1px solid;text-align: center;">{{item.bank_name}}</td>
         <td style="border: black 1px solid;text-align: center;">{{item.account_type}}</td>
         <td style="border: black 1px solid;text-align: center;">{{item.payment_type}}</td>
         <td style="border: black 1px solid;text-align: center;">{{item.acc_no}}</td>
         <td style="border: black 1px solid;text-align: center;">{{item.IFSC}}</td>

        <td>
          <!-- <button (click)="ondeleteclick(item)" class="btn btn-danger">Delete</button>&nbsp;&nbsp;
          <button (click)="editclick(item)" class="btn btn-warning">Edit</button> -->
        </td>
      </tr>
    </tbody>

  </table><br><br>
  <h2>Address Details</h2>
  <h3>Permanent Address</h3>
  <table class="table">
    <thead>
      <th style="border: black 1px solid;text-align: center;" >Id</th>
      <th style="border: black 1px solid;text-align: center;">Dno/Street</th>
      <th style="border: black 1px solid;text-align: center;">Village</th>
      <th style="border: black 1px solid;text-align: center;">Post Office</th>
      <th style="border: black 1px solid;text-align: center;">Mandal</th>
      <th style="border: black 1px solid;text-align: center;">District</th>
      <th style="border: black 1px solid;text-align: center;">Pin Code</th>
      <th style="border: black 1px solid;text-align: center;">Country</th>
      <th style="border: black 1px solid;text-align: center;">State</th>
      <th style="border: black 1px solid;text-align: center;">City</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of permanent_arr">
        <td style="border: black 1px solid;text-align: center;">{{item.id}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.dno_street}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.village}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.post_office}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.mandal}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.district}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.pin_code}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.country}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.state}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.city}}</td>
        <td>
          <!-- <button (click)="ondeleteemployee(item)" class="btn btn-danger">Delete</button>&nbsp;&nbsp;
          <button (click)="editemp(item)" class="btn btn-warning">Edit</button> -->
        </td>
      </tr>
    </tbody>

  </table><br><br>
  <h3>Present Address</h3>
  <table class="table">
    <thead>
      <th style="border: black 1px solid;text-align: center;">Id</th>
      <th style="border: black 1px solid;text-align: center;">Dno/Street</th>
      <th style="border: black 1px solid;text-align: center;">Village</th>
      <th style="border: black 1px solid;text-align: center;">Post Office</th>
      <th style="border: black 1px solid;text-align: center;">Mandal</th>
      <th style="border: black 1px solid;text-align: center;">District</th>
      <th style="border: black 1px solid;text-align: center;">Pin Code</th>
      <th style="border: black 1px solid;text-align: center;">Country</th>
      <th style="border: black 1px solid;text-align: center;">State</th>
      <th style="border: black 1px solid;text-align: center;">City</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of present_arr">
        <td style="border: black 1px solid;text-align: center;">{{item.id}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.presentdno_street}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.present_village}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.presentpost_office}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.present_mandal}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.present_district}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.presentpin_code}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.country}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.state}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.city}}</td>
        <td>
          <!-- <button (click)="ondeleteemployee(item)" class="btn btn-danger">Delete</button>&nbsp;&nbsp;
          <button (click)="editemp(item)" class="btn btn-warning">Edit</button> -->
        </td>
      </tr>
    </tbody>

  </table><br><br>
  <h2>Qualification Display</h2>
  <table class="table">
    <thead>
      <th style="border: black 1px solid;text-align: center;"> Id</th>
      <th style="border: black 1px solid;text-align: center;">Qualification</th>
      <th style="border: black 1px solid;text-align: center;">Institute</th>
      <th style="border: black 1px solid;text-align: center;">Year</th>
      <th style="border: black 1px solid;text-align: center;">Score</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of quali_arr">
        <td style="border: black 1px solid;text-align: center;">{{item.id}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.qualification}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.institute}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.year}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.score}}</td>
        <td>
          <!-- <button (click)="ondeleteproduct(item)" class="btn btn-danger">Delete</button>&nbsp;&nbsp;
          <button (click)="editpro(item)" class="btn btn-warning">Edit</button> -->
        </td>
      </tr>
    </tbody>

  </table>
  <h2>Experience Display</h2>
  <table class="table">
    <thead>
      <th style="border: black 1px solid;text-align: center;"> Id</th>
      <th style="border: black 1px solid;text-align: center;">From Date</th>
      <th style="border: black 1px solid;text-align: center;">To Date</th>
      <th style="border: black 1px solid;text-align: center;">Organisation</th>
      <th style="border: black 1px solid;text-align: center;">Experience</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of exp_arr">
        <td style="border: black 1px solid;text-align: center;">{{item.id}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.fromdate}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.todate}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.organisation}}</td>
        <td style="border: black 1px solid;text-align: center;">{{item.experience}}</td>
        <td>
          <!-- <button (click)="ondeleteproduct(item)" class="btn btn-danger">Delete</button>&nbsp;&nbsp;
          <button (click)="editpro(item)" class="btn btn-warning">Edit</button> -->
        </td>
      </tr>
    </tbody>

  </table>

<h2>Skill Display</h2>
<table class="table">
  <thead>
    <th style="border: black 1px solid;text-align: center;"> Id</th>
    <th style="border: black 1px solid;text-align: center;">Skill Catagory</th>
    <th style="border: black 1px solid;text-align: center;">Skill</th>
    <th style="border: black 1px solid;text-align: center;">Skill Level</th>
    <th style="border: black 1px solid;text-align: center;">IS Current</th>
    <th style="border: black 1px solid;text-align: center;">Experience</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of skill_arr">
      <td style="border: black 1px solid;text-align: center;">{{item.id}}</td>
      <td style="border: black 1px solid;text-align: center;">{{item.skillcatagory}}</td>
      <td style="border: black 1px solid;text-align: center;">{{item.skill}}</td>
      <td style="border: black 1px solid;text-align: center;">{{item.skilllevel}}</td>
      <td style="border: black 1px solid;text-align: center;">{{item.iscurrent}}</td>
      <td style="border: black 1px solid;text-align: center;">{{item.experience}}</td>
      <td>
        <!-- <button (click)="ondeleteproduct(item)" class="btn btn-danger">Delete</button>&nbsp;&nbsp;
        <button (click)="editpro(item)" class="btn btn-warning">Edit</button> -->
      </td>
    </tr>
  </tbody>

</table>


</div>
</div>

