<div style="background-color: blanchedalmond;">
  <div class="border">
<div class="container">
  <div *ngIf="flag">
<form [formGroup]='registrationform'(ngSubmit)="onaddclick()">
  <h1 style="text-align: center;">Registration Form</h1>
  <div class="row">

    <h3 style="text-align: center;">Basic Information</h3>
    <div class="col-sm-3 form-froup div">
  <label>Employee Number <span>(</span><span class="lblError">*</span><span>) :</span></label><br>
  <input type="text" formControlName="id" placeholder="Enter Employee Number" class="form-control" >
  <p class="lblError" *ngIf="registrationform.get('id').hasError('required') && !registrationform.get('id').pristine ">
    Employee number is required</p>
  <label> Name <span>(</span><span class="lblError">*</span><span>) :</span></label><br>
  <input type="text" formControlName="name" placeholder="Enter Employee Name" class="form-control"  >
  <p class="lblError" *ngIf="registrationform.get('name').hasError('required') && !registrationform.get('name').pristine ">
    name is required</p>
  <label> Title <span>(</span><span class="lblError">*</span><span>) :</span></label>
  <select class="form-control" formControlName="title">
    <option value="Mrs.">Mrs.</option>
    <option value="Mr.">Mr.</option>
    <option value="Miss.">Miss</option>
  </select>
  <label>First Name <span>(</span><span class="lblError">*</span><span>) :</span></label><br>
  <input type="text" formControlName="first_name" placeholder="Enter First Name" class="form-control" >
  <p class="lblError" *ngIf="registrationform.get('first_name').hasError('required') && !registrationform.get('first_name').pristine ">
    First Name is required</p>
  <label>Middle Name :</label><br>
  <input type="text" placeholder="Enter Middle Name" formControlName="middle_name" class="form-control"  >
  <label>Last Name :</label><br>
  <input type="text" placeholder="Enter Last Name" formControlName="last_name" class="form-control"  >
  <div>
    <label>Select Gender :</label>
    <input type="radio" formControlName="user_gender"  value="male"> Male
    <input type="radio" formControlName="user_gender"  value="female"> Female<br>
  </div><br>
  <label>Marital Status :</label>
<select formControlName="marital_status">
<option value="Select">Select</option>
<option value="Single">Single</option>
<option value="Married">Married</option>
</select><br>
(<span class="lblError">*</span>) Indicates The Fields Are Mandatory
</div>
<div class="col-sm-3 form-group div">
  <label>Date Of Birth <span>(</span><span class="lblError">*</span><span>) :</span></label><br>
  <input type="date" formControlName="user_dob" class="form-control"  >
  <p class="lblError" *ngIf="registrationform.get('user_dob').hasError('required') && !registrationform.get('user_dob').pristine ">
    date of birth is required</p>
  <label>Age :</label><br>
  <input type="number" readonly  class="form-control" formControlName="age" value={{age}} >
  <label>Official Phone :</label><br>
  <input type="number"  formControlName="official_phone" placeholder="Enter Official Phone Number" class="form-control"  officephone>
  <label>Personal Phone  <span>(</span><span class="lblError">*</span><span>) :</span></label><br>
  <input type="text" formControlName="personal_phone"placeholder="Enter Personal Phone Number" class="form-control"  phone>
  <p class="lblError" *ngIf="registrationform.get('personal_phone').hasError('required') && !registrationform.get('personal_phone').pristine ">
    Personal phone is required</p>
    <p class="lblError" *ngIf="registrationform.get('personal_phone').hasError('minlength') && !registrationform.get('personal_phone').pristine ">
      Phone Should Have minimum 10 digits</p>
  <label>Extension Official Phone : </label><br>
  <input type="number" placeholder="Enter Official Phone Number" formControlName="extn_ofc_phn" class="form-control" >
  <label>Fax :</label><br>
  <input type="text" placeholder="Enter Fax" formControlName="fax"  class="form-control" >
  <label>Birth Place <span>(</span><span class="lblError">*</span><span>) :</span> </label><br>
  <input type="text" formControlName="birth_place" placeholder="Enter Birth Place" class="form-control"  >
  <p class="lblError" *ngIf="registrationform.get('birth_place').hasError('required') && !registrationform.get('birth_place').pristine">
  Birth place Is Required</p>
</div>
<div class="col-sm-3 form-group div">
  <label>Official Mail :</label><br>
  <input type="text" formControlName="ofc_mail" placeholder="Enter Official Mail" class="form-control"  >
  <p class="lblError" *ngIf="registrationform.get('ofc_mail').hasError('email') && !registrationform.get('ofc_mail').pristine ">
    enter currect mail</p>
  <label>Personal Mail <span>(</span><span class="lblError">*</span><span>) :</span></label><br>
  <input type="text" formControlName="personal_email" placeholder="Enter Personal Mail" class="form-control"  ><br>
  <p class="lblError" *ngIf="registrationform.get('personal_email').hasError('required') && !registrationform.get('personal_email').pristine ">
    Personal mail is required</p>
    <p class="lblError" *ngIf="registrationform.get('personal_email').hasError('email') && !registrationform.get('personal_email').pristine ">
    enter currect mail</p>
<label>Religion :</label>
<select formControlName="relegion">
<option >Select</option>
<option >Hindu</option>
<option >Muslim</option>
<option >Cristian</option>
</select><br>
<label>Cast :</label>
<select formControlName="cast">
<option >Select</option>
<option >OC</option>
<option >SC&ST</option>
<option >BC</option>
<option >OBC</option>
</select><br>
<label>Nationality <span>(</span><span class="lblError">*</span><span>) :</span> </label>
<select formControlName="nationality">
<option >Select</option>
<option >Indian</option>
<option >NRI</option>
</select><br>
<label>Voter Id :</label><br>
<input type="text" placeholder="Enter Voter Id Number" class="form-control" formControlName="voter_id" >
<label>PAN No <span>(</span><span class="lblError">*</span><span>) :</span> </label><br>
<input type="text" formControlName="PAN" placeholder="Enter PAN Number" class="form-control"  >
<p class="lblError" *ngIf="registrationform.get('PAN').hasError('required') && !registrationform.get('PAN').pristine">
PAN no Is Required</p>
<label>Aadhar No <span>(</span><span class="lblError">*</span><span>) :</span> </label><br>
<input type="text" formControlName="aadhar" placeholder="Enter Aadhar Number" class="form-control"  aadhar>
<p class="lblError" *ngIf="registrationform.get('aadhar').hasError('required') && !registrationform.get('aadhar').pristine">
Aadhar Is Required</p>
<p class="lblError" *ngIf="registrationform.get('aadhar').hasError('minlength') && !registrationform.get('aadhar').pristine">
  Aadhar Should have 12 Digits</p>
</div>
<div class="col-sm-3 form-group div">
<label>Bank name <span>(</span><span class="lblError">*</span><span>) :</span> </label><br>
<input type="text" formControlName="bank_name" placeholder="Enter Bank Name" class="form-control"  >
<p class="lblError" *ngIf="registrationform.get('bank_name').hasError('required') && !registrationform.get('bank_name').pristine">
bank name Is Required</p>
<label>Payment Type <span>(</span><span class="lblError">*</span><span>) :</span> </label><br>
<input type="text" formControlName="payment_type" placeholder="Enter Payment Type" class="form-control"  >
<p class="lblError" *ngIf="registrationform.get('payment_type').hasError('required') && !registrationform.get('payment_type').pristine">
Payment Type Is Required</p>
<label>Account Type :</label><br>
<input type="text" placeholder="Enter Account Type" class="form-control" formControlName="account_type"  >
<p class="lblError" *ngIf="registrationform.get('account_type').hasError('required') && !registrationform.get('account_type').pristine">
  Account Type Is Required</p>
<label>Account No <span>(</span><span class="lblError">*</span><span>) :</span> </label><br>
<input type="number" formControlName="acc_no" placeholder="Enter Account No" class="form-control"  >
<p class="lblError" *ngIf="registrationform.get('acc_no').hasError('required') && !registrationform.get('acc_no').pristine">
Account no Is Required</p>
<label>IFCS Code <span>(</span><span class="lblError">*</span><span>) :</span> </label><br>
<input type="text" formControlName="IFSC" placeholder="Enter IFSC Code" class="form-control"  >
<p class="lblError" *ngIf="registrationform.get('IFSC').hasError('required') && !registrationform.get('IFSC').pristine">
IFSC code Is Required</p><br>
<label>Photo :</label><br>
<input type="file" placeholder="Upload Photo" formControlName="photo" class="form-control"  ><br>

<button type="submit" class="btn btn-primary">Save</button> &nbsp;&nbsp;
<button (click)="onNextClick()" class="btn btn-primary">Next >></button>

</div>
</div>
<div class="col-md-4"></div>
<div class="col-md-4">

</div>

</form>
</div>
</div>
</div>

<div class="container">
  <div *ngIf="flag1">
    <div class="row">
  <form [formGroup]='permanent' (ngSubmit)="onSave1Click()">

    <div class="col-sm-6 form-group div">
  <h3> Permanent Address Details <span>(</span><span class="lblError" >*</span><span>)</span></h3>
  <div formGroupName="address_group">
    <label>ID :</label><br>
    <input type="text" formControlName='id' class="form-control"  placeholder="Enter ID" >
    <label>D.No/Street :</label><br>
  <input type="text" formControlName='dno_street' class="form-control"  placeholder="Enter D.no/street" >
  <p *ngIf="permanent.get('address_group').get('dno_street').hasError('required') && !permanent.get('address_group').get('dno_street').pristine" class="lblError">dno_street is required</p>
    <label>Village :</label><br>
  <input type="text"  formControlName='village' placeholder="Enter village" class="form-control"  >
  <p class="lblError" *ngIf="permanent.get('address_group').get('village').hasError('required') && !permanent.get('address_group').get('village').pristine ">
    Village Is Required</p>
    <label>Post Office :</label><br>
  <input type="text" formControlName='post_office' placeholder="Enter post office" class="form-control"  >
  <p class="lblError" *ngIf="permanent .get('address_group').get('post_office').hasError('required') && !permanent.get('address_group').get('post_office').pristine ">
    Post Office Is Required</p>
    <label>Mandal :</label><br>
  <input type="text" formControlName='mandal' placeholder="Enter mandal" class="form-control"  >
  <p class="lblError" *ngIf="permanent.get('address_group').get('mandal').hasError('required') && !permanent.get('address_group').get('mandal').pristine ">
    Mandal Is Required</p>
    <label>District :</label><br>
    <select formControlName="district">
      <option >Select</option>
      <option >Anantapur</option>
      <option >Karnool</option>
      <option >Kadapa</option>
      <option >Chittor</option>
      <option >Nellor</option>
    </select><br><br>
    <label>Pin Code :</label><br>
    <input type="number" formControlName='pin_code' placeholder="Enter Pin code" class="form-control"  >
  <p class="lblError" *ngIf="permanent.get('address_group').get('pin_code').hasError('required') && !permanent.get('address_group').get('pin_code').pristine ">
    Pin Code Is Required</p>
    <!-- <label>Country :</label>
    <select formControlName="country">
      <option >Select</option>
      <option >America</option>
      <option > United Kingdom</option>
      <option >Japan</option>
      <option >Austrelia</option>
      <option >Singapor</option>
      <option >Russia</option>
      <option >China</option>
      <option >India</option>
      <option >UAE</option>
      <option >Bangladesh</option>
      <option >Nepal</option>
      <option >Africa</option>
      <option >Argentina</option>
      <option >Belgium</option>
      <option >Canada</option>
      <option >Denkark</option>
      <option >England</option>
      <option >France</option>
    </select> -->

<label>State</label>
<select [(ngModel)]="selectedCountry.id" (change)="onSelect($event.target.value)">
  <option value="0">--Select--</option>
  <option *ngFor="let country of countries" value= {{country.id}}>{{country.name}}</option>
</select>

<br/><br/>

<div>
<label>District</label>
<select>
  <option value="0">--Select--</option>
  <option *ngFor="let state of states " value= {{state.id}}>{{state.name}}</option>
</select>
</div>


    <!-- <label>State :</label>
    <select formControlName="state">
      <option >Select</option>
      <option >Andhrapradesh</option>
      <option >Telangana</option>
      <option >Karnataka</option>
      <option >Tamilnadu</option>
      <option >Kerala</option>
    </select>
    <label>City :</label>
    <select formControlName='city' >
      <option value="">Select</option>
      <option value="hyderabad">Hyderabad</option>
      <option value="bengaluru">Bengaluru</option>
      <option value="mumbai">Mumbai</option>
    </select><br><br> -->
    <div class="form-check">
      <input formControlName="Permanent_address" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1" >
       Copy Same to Permanent Address
      </label><br>
      <button type="submit" class="btn btn-primary">Save</button>&nbsp;
    </div>
  </div>

</div>
</form>
  <div class="col-sm-6 form-group div">
  <h3> Present Address Details</h3>
   <form [formGroup]='present' (ngSubmit)='onNextClick1()'>
  <div>
    <label>ID :</label><br>
  <input type="text" formControlName='id' placeholder="Enter ID" class="form-control" value={{sid}} >
    <label>D.No/Street :</label><br>
  <input type="text" formControlName='presentdno_street' placeholder="Enter D.no/street" class="form-control" value={{sdno_street}} >
    <label>Village :</label><br>
  <input type="text"  formControlName='present_village' placeholder="Enter village"  class="form-control" value={{svillage}} >
    <label>Post Office :</label><br>
  <input type="text" formControlName='presentpost_office' placeholder="Enter post office" class="form-control" value={{spost_office}} >
    <label>Mandal :</label><br>
  <input type="text" formControlName='present_mandal' placeholder="Enter mandal" class="form-control" value={{smandal}} >




  <label>District :</label><br>
  <select formControlName="present_district" value={{sdistrict}}>
    <option >Select</option>
    <option >Anantapur</option>
    <option >Karnool</option>
    <option >Kadapa</option>
    <option >Chittor</option>
    <option >Nellor</option>
  </select><br><br>
    <label>Pin Code :</label><br>
  <input type="number" formControlName='presentpin_code' placeholder="Enter Pin code" class="form-control" value={{spin_code}} >
    </div>


    <label>State</label>
<select [(ngModel)]="selectedCountry.id" (change)="onSelect($event.target.value)">
  <option value="0">--Select--</option>
  <option *ngFor="let country of countries" value= {{country.id}}>{{country.name}}</option>
</select>

<br/><br/>

<div>
<label>District</label>
<select>
  <option value="0">--Select--</option>
  <option *ngFor="let state of states " value= {{state.id}}>{{state.name}}</option>
</select>
</div>
    <!-- <label>Country :</label>
    <select formControlName="country" value={{scountry}}>
      <option >Select</option>
      <option >America</option>
      <option > United Kingdom</option>
      <option >Japan</option>
      <option >Austrelia</option>
      <option >Singapor</option>
      <option >Russia</option>
      <option >China</option>
      <option >India</option>
      <option >UAE</option>
      <option >Bangladesh</option>
      <option >Nepal</option>
      <option >Africa</option>
      <option >Argentina</option>
      <option >Belgium</option>
      <option >Canada</option>
      <option >Denkark</option>
      <option >England</option>
      <option >France</option>
    </select>
    <label>State :</label>
    <select formControlName="state" value={{sstate}}>
      <option >Select</option>
      <option >Andhrapradesh</option>
      <option >Telangana</option>
      <option >Karnataka</option>
      <option >Tamilnadu</option>
      <option >Kerala</option>
    </select>
    <label>City :</label>
    <select formControlName='city' value={{scity}} >
      <option value="">Select</option>
      <option value="hyderabad">Hyderabad</option>
      <option value="bengaluru">Bengaluru</option>
      <option value="mumbai">Mumbai</option>
    </select><br><br>
  <p class="lblError" *ngIf="present.get('city').hasError('required') && !present.get('city').pristine ">
    City Is Required</p>-->
    <div class="col-md-5"></div>
  <div class="col-md-4">
  <button (click)="onBackClick()"  class="btn btn-primary"> << Back</button>&nbsp;

  <button type="submit"  class="btn btn-primary"> Next >></button>&nbsp;
  </div>
  </form>
  </div>

</div>


  </div>
  </div>


  <div class="container">
    <div *ngIf="flag2">
      <h1 style="text-align: center;"> Qualification</h1>
      <form [formGroup]='qualification'(ngSubmit)="onSave2Click()">
        <button type="button"class="btn btn-success btn-sm pull"(click)="addqualification()" >Add</button>
        <div formArrayName="qualification_details" ><div><br></div>
         <div *ngFor="let item of qualiArray.controls; let i=index;" [formGroupName]="i" >
  <div class="row">
    <div class="col-sm-2 form-group div">
      <label>ID<span class="lblError">*</span></label>
      <input type="text" class="form-control" formControlName="id" placeholder="Enter Qualification">
      <p class="lblError"*ngIf="item.get('qualification').hasError('required') && !item.get('qualification').pristine">Qualification is required</p>
      <p class="lblError" *ngIf="item.get('qualification').value!='' && duplicate(item.get('qualification').value,i) && i > 0">Duplicates not Allowed</p>
    </div>
    <div class="col-sm-2 form-group div">
    <label>Qualification<span class="lblError">*</span></label>
    <input type="text" class="form-control" formControlName="qualification" placeholder="Enter Qualification">
    <p class="lblError"*ngIf="item.get('qualification').hasError('required') && !item.get('qualification').pristine">Qualification is required</p>
    <p class="lblError" *ngIf="item.get('qualification').value!='' && duplicate(item.get('qualification').value,i) && i > 0">Duplicates not Allowed</p>
  </div>

  <div class="col-sm-2 form-group div">
    <label>Institute<span class="lblError">*</span></label><br>
    <input type="text" class="form-control" formControlName="institute"  placeholder="Institute name">
    <p class="lblError"*ngIf="item.get('institute').hasError('required') && !item.get('institute').pristine ">Institute is required</p>
  </div>

  <div class="col-sm-2 form-group div">
    <label>Passing Year<span class="lblError">*</span></label>
    <input type="date" class="form-control"  formControlName="year" placeholder="Passing Year">
    <p class="lblError"*ngIf="item.get('year').hasError('required') && !item.get('year').pristine ">Passing Year is required</p>
  </div>

  <div class="col-sm-2 form-group div">
    <label>Score<span class="lblError">*</span></label>
    <input type="text" class="form-control" formControlName="score" placeholder="Enter Score">
    <p class="lblError"*ngIf="item.get('score').hasError('required') && !item.get('score').pristine ">Score is required</p>
  </div>
  <div class="col-sm-2 form-group div">
    <button type="button"class="btn btn-danger btn-sm pull"(click)="deletequalification()" >Delete</button>&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;<button  (click)="myReset()" class="btn btn-primary btn-sm pull">Edit</button>
    <div>&nbsp;</div>
    </div>
</div>
</div>
  </div>

  <button (click)="onBack1Click()" class="btn btn-primary"><< Back</button>&nbsp;
  <button type="submit" class="btn btn-primary">Save</button>&nbsp;
  <button (click)="onNextClick2()" class="btn btn-primary">Next >></button>
    </form>
  </div>

  </div>


  <div class="container">
    <div *ngIf="flag3">
    <form [formGroup]='experience'(ngSubmit)="onSave3Click()">
      <h1 style="text-align: center;">Experience</h1>
  &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success"  (click)="addexperience()" >Add Experience</button><div><br></div>
  <div formArrayName="experience_details" ><div><br></div>
 <div *ngFor="let item of experiencearray.controls; let y=index;" [formGroupName]="y" >



  <div class="row">
    <div class="col-sm-2 form-group div">
      <label>ID<span class="lblError">*</span></label>
      <input type="text" class="form-control" formControlName="id" placeholder="Enter From Date">
  </div>
    <div formGroupName="dategroup">
    <div class="col-sm-2 form-group div">
      <label>From Date<span class="lblError">*</span></label>
      <input type="date" class="form-control" formControlName="fromdate" placeholder="Enter From Date">
      <p class="lblError"*ngIf="item.get('dategroup').get('fromdate').hasError('required') && !item.get('dategroup').get('fromdate').pristine ">From Date is required!...</p>
      <p class="lblError" *ngIf="Duplicate(item.get('dategroup').get('fromdate').value, y) && y > 0">Date should not overlap</p>
      <p class="lblError" *ngIf="Duplicate1(item.get('dategroup').get('fromdate').value, y) && y > 0">No Date duplicates allowed</p>
  </div>

  <div class="col-sm-2 form-group div">
    <label>To Date<span class="lblError">*</span></label>
    <input type="date" class="form-control" formControlName="todate"  placeholder="To Date name">
        <p class="lblError"*ngIf="item.get('dategroup').get('todate').hasError('required') && !item.get('dategroup').get('todate').pristine ">To Date is required!...</p>
        <p class="lblError"*ngIf="item.get('dategroup').hasError('dates') && !item.get('dategroup').pristine ">From Date should be less than To Date</p>
  </div>
</div>

  <div class="col-sm-2 form-group div">
    <label>Organisation<span class="lblError">*</span></label>
    <input type="text" class="form-control"  formControlName="organisation" placeholder="enter organisation">
    <p class="lblError"*ngIf="item.get('organisation').hasError('required') && !item.get('organisation').pristine ">organisation is required</p>
  </div>

  <div class="col-sm-2 form-group div">
    <label>experience<span class="lblError">*</span></label>
    <input type="text" class="form-control" formControlName="experience" placeholder="Enter experience">
    <p class="lblError"*ngIf="item.get('experience').hasError('required') && !item.get('experience').pristine ">experience is required</p>
  </div>



  <div>&nbsp;&nbsp;</div>
  <div class="col-sm-2 form-group div">

  &nbsp;&nbsp;&nbsp;&nbsp; <button type="button"class="btn btn-danger btn-sm pull"(click)="deleteexperience(y)" >Delete</button>
   &nbsp;&nbsp;&nbsp;&nbsp;<button  (click)="experienceReset()" class="btn btn-primary btn-sm pull">Edit</button>
  <div>&nbsp;</div>
</div>
</div>
</div>
  </div>
  <button (click)="onBack2Click()" class="btn btn-primary"><< Back</button>&nbsp;
  <button type="submit"  class="btn btn-primary">Save</button>&nbsp;
  <button (click)="onNextClick3()"  class="btn btn-primary"> Next >></button>
    </form>
  </div>
  </div>


  <div class="container">
    <div *ngIf="flag4">
    <form [formGroup]='skill'(ngSubmit)="onaddclick1()">

   <h1 style="text-align: center;">Skill</h1>
   <button type="button" class="btn btn-success"  (click)="addskill()" >Add Skill</button><div><br></div>
  <div formArrayName="skill_details" ><div><br></div>
 <div *ngFor="let item of skillarray.controls; let a=index;" [formGroupName]="a" >



  <div class="row">
    <div class="col-sm-2 form-group div">
      <label>ID<span class="lblError">*</span></label>
      <input type="text" class="form-control" formControlName="id" placeholder="Enter catagory">
      <!-- <p class="lblError"*ngIf="item.get('skill').hasError('required') && !item.get('skill').pristine">skill is required</p>
      <p class="lblError" *ngIf=" item.get('skill').value!='' &&skillduplicate(item.get('skill').value, a) && a > 0">Duplicates not Allowed</p> -->
    </div>
    <div class="col-sm-2 form-group div">
    <label>Skill<span class="lblError">*</span></label>
    <input type="text" class="form-control" formControlName="skill" placeholder="Enter catagory">
    <p class="lblError"*ngIf="item.get('skill').hasError('required') && !item.get('skill').pristine">skill is required</p>
    <p class="lblError" *ngIf=" item.get('skill').value!='' &&skillduplicate(item.get('skill').value, a) && a > 0">Duplicates not Allowed</p>
  </div>

  <div class="col-sm-2 form-group div">
    <label>skill catagory<span class="lblError">*</span></label><br>
    <input type="text" class="form-control" formControlName="skillcatagory"  placeholder="skillcatogary">
    <p class="lblError"*ngIf="item.get('skillcatagory').hasError('required') && !item.get('skillcatagory').pristine ">catogary is required</p>
  </div>

  <div class="col-sm-2 form-group div">
    <label>skill level<span class="lblError">*</span></label>
    <input type="text" class="form-control"  formControlName="skilllevel" placeholder="skill level">
    <p class="lblError"*ngIf="item.get('skilllevel').hasError('required') && !item.get('skilllevel').pristine ">skill leve is required</p>
  </div>

  <div class="col-sm-2 form-group div">
    <label>iscurrent<span class="lblError">*</span></label><br>
    <input type="radio" formControlName="iscurrent"  value="yes"> Yes
    <input type="radio" formControlName="iscurrent"  value="no"> No<br>
    <p class="lblError"*ngIf="item.get('iscurrent').hasError('required') && !item.get('iscurrent').pristine ">is current required</p>
  </div>
  <div class="col-sm-2 form-group div">
    <label>experience<span class="lblError">*</span></label>
    <input type="text" class="form-control" formControlName="experience" placeholder="Enter experience">
    <p class="lblError"*ngIf="item.get('experience').hasError('required') && !item.get('experience').pristine ">experience is required</p>
  </div>



  <div>&nbsp;&nbsp;</div>
  <div class="col-sm-2 form-group div">

  &nbsp;&nbsp;&nbsp;&nbsp; <button type="button"class="btn btn-danger btn-sm pull"(click)="deleteskill(a)" >Delete</button>
   &nbsp;&nbsp;&nbsp;&nbsp;<button  (click)="mySkillReset()" class="btn btn-primary tn-sm pull">Edit</button>
  <div>&nbsp;</div>
</div>
</div>
</div>
  </div>
   <!-- </div> -->
   <button (click)="onBack3Click()"  class="btn btn-primary"><< Back</button>&nbsp;
  <button type="submit"  class="btn btn-primary">Save</button>
    </form>
  </div>
  </div>

