<div style="background-color: blanchedalmond;">
  <div class="border">
<div class="container">
  <div *ngIf="flag">
<form [formGroup]='registrationform'(ngSubmit)="onSaveClick()">
  <h1 style="text-align: center;">Registration Form</h1>
  <div class="row">

    <h3 style="text-align: center;">Basic Information</h3>
    <div class="col-sm-6 form-froup div">
  <label>Employee Number <span>(</span><span class="lblError">*</span><span>) :</span></label><br>
  <input type="text" formControlName="employee_number" placeholder="Enter Employee Number" class="form-control" ><br>
  <p class="lblError" *ngIf="registrationform.get('employee_number').hasError('required') && !registrationform.get('employee_number').pristine ">
    Employee number is required</p>
  <label> Name <span>(</span><span class="lblError">*</span><span>) :</span></label><br>
  <input type="text" formControlName="name" placeholder="Enter Employee Name" class="form-control"  ><br>
  <p class="lblError" *ngIf="registrationform.get('name').hasError('required') && !registrationform.get('name').pristine ">
    name is required</p>
  <label> Title <span>(</span><span class="lblError">*</span><span>) :</span></label>
  <select class="form-control" formControlName="title">
    <option>Mrs.</option>
    <option>Mr.</option>
    <option>Miss</option>
  </select><br>
  <label>First Name <span>(</span><span class="lblError">*</span><span>) :</span></label><br>
  <input type="text" [disabled]="true" formControlName="first_name" placeholder="Enter First Name" class="form-control" ><br>
  <p class="lblError" *ngIf="registrationform.get('first_name').hasError('required') && !registrationform.get('first_name').pristine ">
    First Name is required</p>
  <label>Middle Name :</label><br>
  <input type="text" placeholder="Enter Middle Name" formControlName="middle_name" class="form-control"  >
  <label>Last Name :</label><br>
  <input type="text" placeholder="Enter Last Name" formControlName="last_name" class="form-control"  >
  <div>
    <label>Select Gender :</label>
    <input type="radio" formControlName="user_gender"  value="male"> Male
    <input type="radio" formControlName="user_gender"  value="female"> Female<br>
  </div><br>
  <label>Date Of Birth <span>(</span><span class="lblError">*</span><span>) :</span></label><br>
  <input type="date" formControlName="user_dob" class="form-control"  ><br>
  <p class="lblError" *ngIf="registrationform.get('user_dob').hasError('required') && !registrationform.get('user_dob').pristine ">
    date of birth is required</p>
  <label>Age :</label><br>
  <input type="number" [disabled]="true" class="form-control" formControlName="age" value={{age}} ><br>
</div>
<div class="col-sm-6 form-group div">
  <label>Official Phone :</label><br>
  <input type="number" placeholder="Enter Official Phone Number" class="form-control"  officephone><br>
  <label>Personal Phone  <span>(</span><span class="lblError">*</span><span>) :</span></label><br>
  <input type="text" formControlName="personal_phone"placeholder="Enter Personal Phone Number" class="form-control"  phone><br>
  <p class="lblError" *ngIf="registrationform.get('personal_phone').hasError('required') && !registrationform.get('personal_phone').pristine ">
    Personal phone is required</p>
    <p class="lblError" *ngIf="registrationform.get('personal_phone').hasError('minlength') && !registrationform.get('personal_phone').pristine ">
      Phone Should Have minimum 10 digits</p>
  <label>Extension Official Phone : </label><br>
  <input type="number" placeholder="Enter Official Phone Number" formControlName="ofc_extn_phn" class="form-control" ><br>
  <label>Fax :</label><br>
  <input type="text" placeholder="Enter Fax" formControlName="fax"  class="form-control" ><br>
  <label>Official Mail :</label><br>
  <input type="text" formControlName="ofc_email" placeholder="Enter Official Mail" class="form-control"  ><br>
  <p class="lblError" *ngIf="registrationform.get('ofc_email').hasError('email') && !registrationform.get('ofc_email').pristine ">
    enter currect mail</p>
  <label>Personal Mail <span>(</span><span class="lblError">*</span><span>) :</span></label><br>
  <input type="text" formControlName="personal_mail" placeholder="Enter Personal Mail" class="form-control"  ><br>
  <p class="lblError" *ngIf="registrationform.get('personal_mail').hasError('required') && !registrationform.get('personal_mail').pristine ">
    Personal mail is required</p>
    <p class="lblError" *ngIf="registrationform.get('personal_mail').hasError('email') && !registrationform.get('personal_mail').pristine ">
    enter currect mail</p>
  <label>Photo :</label><br>
  <input type="file" placeholder="Upload Photo" formControlName="photo" class="form-control"  ><br>
<div class="col-sm-6 form-group div"></div>
<label>Birth Place <span>(</span><span class="lblError">*</span><span>) :</span> </label><br>
<input type="text" formControlName="birth_place" placeholder="Enter Birth Place" class="form-control"  ><br><br>
<p class="lblError" *ngIf="registrationform.get('birth_place').hasError('required') && !registrationform.get('birth_place').pristine">
Birth place Is Required</p>
<label>Religion :</label>
<select>
<option formControlName="relegion">Select</option>
<option formControlName="relegion">Hindu</option>
<option formControlName="relegion">Muslim</option>
<option formControlName="relegion">Cristian</option>
</select>
<label>Cast :</label>
<select>
<option formControlName="cast">Select</option>
<option formControlName="cast">OC</option>
<option formControlName="cast">SC&ST</option>
<option formControlName="cast">BC</option>
<option formControlName="cast">OBC</option>
</select><br>
<label>Nationality <span>(</span><span class="lblError">*</span><span>) :</span> </label>
<select>
<option formControlName="nationality">Select</option>
<option formControlName="nationality">Indian</option>
<option formControlName="nationality">NRI</option>
</select><br>
<label>Voter Id :</label><br>
<input type="text" placeholder="Enter Voter Id Number" class="form-control" formControlName="voter_id" ><br>
<label>PAN No <span>(</span><span class="lblError">*</span><span>) :</span> </label><br>
<input type="text" formControlName="PAN" placeholder="Enter PAN Number" class="form-control"  ><br>
<p class="lblError" *ngIf="registrationform.get('PAN').hasError('required') && !registrationform.get('PAN').pristine">
PAN no Is Required</p>
<label>Aadhar No <span>(</span><span class="lblError">*</span><span>) :</span> </label><br>
<input type="text" formControlName="aadhar_no" placeholder="Enter Aadhar Number" class="form-control"  aadhar><br><br>
<p class="lblError" *ngIf="registrationform.get('aadhar_no').hasError('required') && !registrationform.get('aadhar_no').pristine">
Aadhar Is Required</p>
<p class="lblError" *ngIf="registrationform.get('aadhar_no').hasError('minlength') && !registrationform.get('aadhar_no').pristine">
  Aadhar Should have 12 Digits</p>
<label>Marital Status :</label>
<select>
<option formControlName="marital_status">Select</option>
<option  formControlName="marital_status">Single</option>
<option  formControlName="marital_status">Married</option>
</select><br>
<label>Bank name <span>(</span><span class="lblError">*</span><span>) :</span> </label><br>
<input type="text" formControlName="bank_name" placeholder="Enter Bank Name" class="form-control"  ><br>
<p class="lblError" *ngIf="registrationform.get('bank_name').hasError('required') && !registrationform.get('bank_name').pristine">
bank name Is Required</p>
<label>Payment Type <span>(</span><span class="lblError">*</span><span>) :</span> </label><br>
<input type="text" formControlName="payment_type" placeholder="Enter Payment Type" class="form-control"  ><br>
<p class="lblError" *ngIf="registrationform.get('payment_type').hasError('required') && !registrationform.get('payment_type').pristine">
Payment Type Is Required</p>
<label>Account Type :</label><br>
<input type="text" placeholder="Enter Account Type" class="form-control" formControlName="accouunt_type"  ><br>
<p class="lblError" *ngIf="registrationform.get('account_type').hasError('required') && !registrationform.get('account_type').pristine">
  Account Type Is Required</p>
<label>Account No <span>(</span><span class="lblError">*</span><span>) :</span> </label><br>
<input type="number" formControlName="acc_no" placeholder="Enter Account No" class="form-control"  ><br>
<p class="lblError" *ngIf="registrationform.get('acc_no').hasError('required') && !registrationform.get('acc_no').pristine">
Account no Is Required</p>
<label>IFCS Code <span>(</span><span class="lblError">*</span><span>) :</span> </label><br>
<input type="text" formControlName="IFSC" placeholder="Enter IFSC Code" class="form-control"  ><br>
<p class="lblError" *ngIf="registrationform.get('IFSC').hasError('required') && !registrationform.get('IFSC').pristine">
IFSC code Is Required</p>
</div>


</div>
<div class="col-md-4"></div>
<div class="col-md-4">
  <button type="submit" class="btn btn-primary">Save</button>
  <button (click)="onNextClick()" class="btn btn-primary">Next</button>
</div>

</form>
</div>
</div>
</div>

<div class="container">
  <div *ngIf="flag1">

  <form [formGroup]='permanent' (ngSubmit)="onSave1Click()">
    <div class="row">
    <div class="col-sm-6 form-group div">
  <h3> Permanent Address Details <span>(</span><span class="lblError" >*</span><span>)</span></h3>
    <div formGroupName="address_group">
      <label>ID :</label><br>
      <input type="text" formControlName='id' class="form-control"  placeholder="Enter ID" ><br>
    <label>D.No/Street :</label><br>
  <input type="text" formControlName='dno_street' class="form-control"  placeholder="Enter D.no/street" ><br>
  <p *ngIf="permanent.get('address_group').get('dno_street').hasError('required') && !permanent.get('address_group').get('dno_street').pristine" class="lblError">dno_street is required</p>
    <label>Village :</label><br>
  <input type="text"  formControlName='village' placeholder="Enter village" class="form-control"  ><br>
  <p class="lblError" *ngIf="permanent.get('address_group').get('village').hasError('required') && !permanent.get('address_group').get('village').pristine ">
    Village Is Required</p>
    <label>Post Office :</label><br>
  <input type="text" formControlName='post_office' placeholder="Enter post office" class="form-control"  ><br>
  <p class="lblError" *ngIf="permanent .get('address_group').get('post_office').hasError('required') && !permanent.get('address_group').get('post_office').pristine ">
    Post Office Is Required</p>
    <label>Mandal :</label><br>
  <input type="text" formControlName='mandal' placeholder="Enter mandal" class="form-control"  ><br>
  <p class="lblError" *ngIf="permanent.get('address_group').get('mandal').hasError('required') && !permanent.get('address_group').get('mandal').pristine ">
    Mandal Is Required</p>
    <label>District :</label><br>
    <select>
      <option formControlName="district">Select</option>
      <option formControlName="district">Anantapur</option>
      <option formControlName="district">Karnool</option>
      <option formControlName="district">Kadapa</option>
      <option formControlName="district">Chittor</option>
      <option formControlName="district">Nellor</option>
    </select><br><br>
    <label>Pin Code :</label><br>
    <input type="number" formControlName='pin_code' placeholder="Enter Pin code" class="form-control"  ><br>
  <p class="lblError" *ngIf="permanent.get('address_group').get('pin_code').hasError('required') && !permanent.get('address_group').get('pin_code').pristine ">
    Pin Code Is Required</p>
    <label>Country :</label>
  <select>
    <option formControlName="country">Select</option>
    <option formControlName="country">America</option>
    <option formControlName="country"> United Kingdom</option>
    <option formControlName="country">Japan</option>
    <option formControlName="country">Austrelia</option>
    <option formControlName="country">Singapor</option>
    <option formControlName="country">Russia</option>
    <option formControlName="country">China</option>
    <option formControlName="country">India</option>
    <option formControlName="country">UAE</option>
    <option formControlName="country">Bangladesh</option>
    <option formControlName="country">Nepal</option>
    <option formControlName="country">Africa</option>
    <option formControlName="country">Argentina</option>
    <option formControlName="country">Belgium</option>
    <option formControlName="country">Canada</option>
    <option formControlName="country">Denkark</option>
    <option formControlName="country">England</option>
    <option formControlName="country">France</option>
  </select>
  <label>State :</label>
  <select>
    <option formControlName="state">Select</option>
    <option formControlName="state">Andhrapradesh</option>
    <option formControlName="state">Telangana</option>
    <option formControlName="state">Karnataka</option>
    <option formControlName="state">Tamilnadu</option>
    <option formControlName="state">Kerala</option>
  </select>
  <label>City :</label>
  <select formControlName='city' >
    <option value="">Select</option>
    <option value="hyderabad">Hyderabad</option>
    <option value="bengaluru">Bengaluru</option>
    <option value="mumbai">Mumbai</option>
  </select><br><br>
<p class="lblError" *ngIf="permanent.get('city').hasError('required') && !permanent.get('city').pristine ">
  City Is Required</p>
  <div class="form-check">
    <input  class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1" >
     Copy Same to Permanent Address
    </label>
  </div>
  </div>
  <h3> Present Address Details</h3>
  <div>
    <label>ID :</label><br>
  <input type="text" formControlName='id' placeholder="Enter D.no/street" class="form-control"  ><br>
    <label>D.No/Street :</label><br>
  <input type="text" formControlName='presentdno_street' placeholder="Enter D.no/street" class="form-control"  ><br>
    <label>Village :</label><br>
  <input type="text"  formControlName='present_village' placeholder="Enter village"  class="form-control" ><br>
    <label>Post Office :</label><br>
  <input type="text" formControlName='presentpost_office' placeholder="Enter post office" class="form-control"  ><br>
    <label>Mandal :</label><br>
  <input type="text" formControlName='present_mandal' placeholder="Enter mandal" class="form-control" ><br>
  <label>District :</label><br>
  <select>
    <option formControlName="present_district">Select</option>
    <option formControlName="present_district">Anantapur</option>
    <option formControlName="present_district">Karnool</option>
    <option formControlName="present_district">Kadapa</option>
    <option formControlName="present_district">Chittor</option>
    <option formControlName="present_district">Nellor</option>
  </select><br><br>
    <label>Pin Code :</label><br>
  <input type="number" formControlName='presentpin_code' placeholder="Enter Pin code" class="form-control" ><br>
    </div>
    <label>Country :</label>
    <select>
      <option formControlName="country">Select</option>
      <option formControlName="country">America</option>
      <option formControlName="country"> United Kingdom</option>
      <option formControlName="country">Japan</option>
      <option formControlName="country">Austrelia</option>
      <option formControlName="country">Singapor</option>
      <option formControlName="country">Russia</option>
      <option formControlName="country">China</option>
      <option formControlName="country">India</option>
      <option formControlName="country">UAE</option>
      <option formControlName="country">Bangladesh</option>
      <option formControlName="country">Nepal</option>
      <option formControlName="country">Africa</option>
      <option formControlName="country">Argentina</option>
      <option formControlName="country">Belgium</option>
      <option formControlName="country">Canada</option>
      <option formControlName="country">Denkark</option>
      <option formControlName="country">England</option>
      <option formControlName="country">France</option>
    </select>
    <label>State :</label>
    <select>
      <option formControlName="state">Select</option>
      <option formControlName="state">Andhrapradesh</option>
      <option formControlName="state">Telangana</option>
      <option formControlName="state">Karnataka</option>
      <option formControlName="state">Tamilnadu</option>
      <option formControlName="state">Kerala</option>
    </select>
    <label>City :</label>
    <select formControlName='city' >
      <option value="">Select</option>
      <option value="hyderabad">Hyderabad</option>
      <option value="bengaluru">Bengaluru</option>
      <option value="mumbai">Mumbai</option>
    </select><br><br>
  <p class="lblError" *ngIf="permanent.get('city').hasError('required') && !permanent.get('city').pristine ">
    City Is Required</p>
  </div>


  </div>
  <div class="col-md-5"></div>
  <div class="col-md-4">
  <button (click)="onBackClick()"  class="btn btn-primary"> << Back</button>&nbsp;
  <button type="submit" class="btn btn-primary">Save</button>
  <button (click)="onNextClick1()"  class="btn btn-primary"> Next >></button>&nbsp;
  </div>
  </form>

  </div>
  </div>


  <div class="container">
    <div *ngIf="flag2">
    <form [formGroup]='qualification'(ngSubmit)="onSave2Click()">
      <div formArrayName="qualification_details" ><div><br></div>
      <!-- <div *ngFor="let item of qualification; let i=index;" [formGroupName]="i" > -->
      <div class="row">
        <div class="col-sm-2 form-group div">
          <label>Qualification<span class="lblError">*</span></label>
        <input type="text" class="form-control" formControlName="id" placeholder="Enter Qualification">
        <p class="lblError"*ngIf="qualification.get('id').hasError('required') && !qualification.get('id').pristine">Qualification is required</p>
        <!-- <p class="lblError" *ngIf="qualification.get('id').value!='' && duplicate(qualification.get('id').value) && i > 0">Duplicates not Allowed</p>
        <label>Qualification<span class="lblError">*</span></label> -->
        <input type="text" class="form-control" formControlName="qualification" placeholder="Enter Qualification">
        <p class="lblError"*ngIf="qualification.get('qualification').hasError('required') && !qualification.get('qualification').pristine">Qualification is required</p>
        <!-- <p class="lblError" *ngIf="qualification.get('qualification').value!='' && duplicate(qualification.get('qualification').value) && i > 0">Duplicates not Allowed</p> -->
      </div>

      <div class="col-sm-2 form-group div">
        <label>Institute<span class="lblError">*</span></label><br>
        <input type="text" class="form-control" formControlName="institute"  placeholder="Institute name">
        <p class="lblError"*ngIf="qualification.get('institute').hasError('required') && !qualification.get('institute').pristine ">Institute is required</p>
      </div>

      <div class="col-sm-2 form-group div">
        <label>Passing Year<span class="lblError">*</span></label>
        <input type="date" class="form-control"  formControlName="year" placeholder="Passing Year">
        <p class="lblError"*ngIf="qualification.get('year').hasError('required') && !qualification.get('year').pristine ">Passing Year is required</p>
      </div>

      <div class="col-sm-2 form-group div">
        <label>Score<span class="lblError">*</span></label>
        <input type="text" class="form-control" formControlName="score" placeholder="Enter Score">
        <p class="lblError"*ngIf="qualification.get('score').hasError('required') && !qualification.get('score').pristine ">Score is required</p>
      </div>
    </div>
    </div>
  <!-- </div> -->
  <button (click)="onBack1Click()"><< Back</button>
  <button type="submit">Save</button>
  <button (click)="onNextClick2()">Next >></button>
    </form>
  </div>

  </div>


  <div class="container">
    <div *ngIf="flag3">
    <form [formGroup]='experience'(ngSubmit)="onSave3Click()">
      <h3 style="text-align: center;">Experience</h3>
  <div formArrayName="experience_details" ><div><br></div>
 <!-- <div *ngFor="let item of experience.controls; let y=index;" [formGroupName]="y" > -->
  <div class="row">
    <div formGroupName="dategroup">
    <div class="col-sm-2 form-group div">
      <label>ID<span class="lblError">*</span></label>
      <input type="date" class="form-control" formControlName="id" placeholder="Enter From Date">
      <label>From Date<span class="lblError">*</span></label>
      <input type="date" class="form-control" formControlName="fromdate" placeholder="Enter From Date">
      <p class="lblError"*ngIf="experience.get('dategroup').get('fromdate').hasError('required') && !experience.get('dategroup').get('fromdate').pristine ">From Date is required!...</p>
      <!-- <p class="lblError" *ngIf="Duplicate(item.get('dategroup').get('fromdate').value, y) && y > 0">Date should not overlap</p>
      <p class="lblError" *ngIf="Duplicate1(item.get('dategroup').get('fromdate').value, y) && y > 0">No Date duplicates allowed</p> -->
  </div>

  <div class="col-sm-2 form-group div">
    <label>To Date<span class="lblError">*</span></label>
    <input type="date" class="form-control" formControlName="todate"  placeholder="To Date name">
        <p class="lblError"*ngIf="experience.get('dategroup').get('todate').hasError('required') && !experience.get('dategroup').get('todate').pristine ">To Date is required!...</p>
        <p class="lblError"*ngIf="experience.get('dategroup').hasError('dates') && !experience.get('dategroup').pristine ">From Date should be less than To Date</p>
  </div>
</div>

  <div class="col-sm-2 form-group div">
    <label>Organisation<span class="lblError">*</span></label>
    <input type="text" class="form-control"  formControlName="organisation" placeholder="enter organisation">
    <p class="lblError"*ngIf="experience.get('organisation').hasError('required') && !experience.get('organisation').pristine ">organisation is required</p>
  </div>

  <div class="col-sm-2 form-group div">
    <label>experience<span class="lblError">*</span></label>
    <input type="text" class="form-control" formControlName="experience" placeholder="Enter experience">
    <p class="lblError"*ngIf="experience.get('experience').hasError('required') && !experience.get('experience').pristine ">experience is required</p>
  </div>

</div>
</div>
<!-- </div> -->
<button (click)="onBack2Click()"><< Back</button>
  <button type="submit">Save</button>
  <button (click)="onNextClick3()"> Next >></button>
    </form>
  </div>
  </div>


  <div>
    <div *ngIf="flag4">
    <form [formGroup]='skill'(ngSubmit)="onSave4Click()">

   <h3 style="text-align: center;">Skill</h3>
   <div formArrayName="skill_details" ><div><br></div>
  <!-- <div *ngFor="let item of skill.controls; let a=index;" [formGroupName]="a" > -->
   <div class="row">
     <div class="col-sm-2 form-group div">
      <label>ID<span class="lblError">*</span></label>
      <input type="text" class="form-control" formControlName="id" placeholder="Enter catagory">
     <label>Skill<span class="lblError">*</span></label>
     <input type="text" class="form-control" formControlName="skill" placeholder="Enter catagory">
     <p class="lblError"*ngIf="skill.get('skill').hasError('required') && !skill.get('skill').pristine">skill is required</p>
     <!-- <p class="lblError" *ngIf=" item.get('skill').value!='' &&skillduplicate(item.get('skill').value, a) && a > 0">Duplicates not Allowed</p> -->
   </div>

   <div class="col-sm-2 form-group div">
     <label>skill catagory<span class="lblError">*</span></label><br>
     <input type="text" class="form-control" formControlName="skillcatagory"  placeholder="skillcatogary">
     <p class="lblError"*ngIf="skill.get('skillcatagory').hasError('required') && !skill.get('skillcatagory').pristine ">catogary is required</p>
   </div>

   <div class="col-sm-2 form-group div">
     <label>skill level<span class="lblError">*</span></label>
     <input type="text" class="form-control"  formControlName="skilllevel" placeholder="skill level">
     <p class="lblError"*ngIf="skill.get('skilllevel').hasError('required') && !skill.get('skilllevel').pristine ">skill leve is required</p>
   </div>

   <div class="col-sm-2 form-group div">
     <label>iscurrent<span class="lblError">*</span></label><br>
     <input type="radio" formControlName="iscurrent"  value="yes"> Yes
     <input type="radio" formControlName="iscurrent"  value="no"> No<br>
     <p class="lblError"*ngIf="skill.get('iscurrent').hasError('required') && !skill.get('iscurrent').pristine ">is current required</p>
   </div>
   <div class="col-sm-2 form-group div">
     <label>experience<span class="lblError">*</span></label>
     <input type="text" class="form-control" formControlName="experience" placeholder="Enter experience">
     <p class="lblError"*ngIf="skill.get('experience').hasError('required') && !skill.get('experience').pristine ">experience is required</p>
   </div>



   <div>&nbsp;&nbsp;</div>
   <div class="col-sm-2 form-group div">
 </div>
 </div>
 </div>
   <!-- </div> -->
   <button (click)="onBack3Click()"><< Back</button>
  <button type="submit">Save</button>
    </form>
  </div>
  </div>

