
<div style="background-color: blanchedalmond;">

  <div class="container">
      <h1 style="text-align: center;"> Qualification</h1>
      <form [formGroup]='qualification'(ngSubmit)="onSaveClick()">
        <button type="button"class="btn btn-success btn-sm pull"(click)="addqualification()" >Add</button>
        <div formArrayName="qualification_details" ><div><br></div>
         <div *ngFor="let item of qualiArray.controls; let i=index;" [formGroupName]="i" >
  <div class="row">
    <div class="col-sm-2 form-group div">
      <label>ID<span class="lblError">*</span></label>
      <input type="text" class="form-control" formControlName="id" placeholder="Enter Qualification">
      <p class="lblError"*ngIf="item.get('qualification').hasError('required') && !item.get('qualification').pristine">Qualification is required</p>
      <p class="lblError" *ngIf="item.get('qualification').value!='' && duplicate(item.get('qualification').value,i) && i > 0">Duplicates not Allowed</p>
    </div>
    <div class="col-sm-2 form-group div">
    <label>Qualification<span class="lblError">*</span></label>
    <input type="text" class="form-control" formControlName="qualification" placeholder="Enter Qualification">
    <p class="lblError"*ngIf="item.get('qualification').hasError('required') && !item.get('qualification').pristine">Qualification is required</p>
    <p class="lblError" *ngIf="item.get('qualification').value!='' && duplicate(item.get('qualification').value,i) && i > 0">Duplicates not Allowed</p>
  </div>

  <div class="col-sm-2 form-group div">
    <label>Institute<span class="lblError">*</span></label><br>
    <input type="text" class="form-control" formControlName="institute"  placeholder="Institute name">
    <p class="lblError"*ngIf="item.get('institute').hasError('required') && !item.get('institute').pristine ">Institute is required</p>
  </div>

  <div class="col-sm-2 form-group div">
    <label>Passing Year<span class="lblError">*</span></label>
    <input type="date" class="form-control"  formControlName="year" placeholder="Passing Year">
    <p class="lblError"*ngIf="item.get('year').hasError('required') && !item.get('year').pristine ">Passing Year is required</p>
  </div>

  <div class="col-sm-2 form-group div">
    <label>Score<span class="lblError">*</span></label>
    <input type="text" class="form-control" formControlName="score" placeholder="Enter Score">
    <p class="lblError"*ngIf="item.get('score').hasError('required') && !item.get('score').pristine ">Score is required</p>
  </div>
  <div class="col-sm-2 form-group div">
    &nbsp;&nbsp;&nbsp;&nbsp; <button type="button"class="btn btn-danger btn-sm pull"(click)="deletequalification()" >Delete</button>&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;<button  (click)="myReset()" class="btn btn-primary btn-sm pull">Edit</button>
    <div>&nbsp;</div>
    </div>
</div>
</div>
  </div>


  <button type="submit" class="btn btn-primary">Save</button>&nbsp;
    </form>

  </div>
</div>
